.navbar-inverse {
    background-color: #424953; !important;
    border-color: #393f47; !important;
}
@media (min-width: 768px){
    .navbar {
        border-radius: 1px;
    }
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFF;
}
.navbar-inverse .navbar-brand {
    color:#FFF;
}

/* Search bar */
#searchInput{
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
